<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-detalle-orden-heading"
        data-cy="DetalleOrdenCreateUpdateHeading"
        jhiTranslate="sicore2App.detalleOrden.home.createOrEditLabel"
      >
        Crear o editar Detalle Orden
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sicore2App.detalleOrden.observacion" for="field_observacion">Observacion</label>
          <textarea
            class="form-control"
            name="observacion"
            id="field_observacion"
            data-cy="observacion"
            formControlName="observacion"
          ></textarea>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sicore2App.detalleOrden.monto" for="field_monto">Monto</label>
          <input type="number" class="form-control" name="monto" id="field_monto" data-cy="monto" formControlName="monto" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sicore2App.detalleOrden.indPagado" for="field_indPagado">Ind Pagado</label>
          <input type="checkbox" class="form-check" name="indPagado" id="field_indPagado" data-cy="indPagado" formControlName="indPagado" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sicore2App.detalleOrden.estado" for="field_estado">Estado</label>
          <input type="text" class="form-control" name="estado" id="field_estado" data-cy="estado" formControlName="estado" />
          <div *ngIf="editForm.get('estado')!.invalid && (editForm.get('estado')!.dirty || editForm.get('estado')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('estado')?.errors?.required" jhiTranslate="entity.validation.required">
              Este campo es obligatorio.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sicore2App.detalleOrden.version" for="field_version">Version</label>
          <input type="number" class="form-control" name="version" id="field_version" data-cy="version" formControlName="version" />
          <div *ngIf="editForm.get('version')!.invalid && (editForm.get('version')!.dirty || editForm.get('version')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('version')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('version')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              Este campo debe ser un número.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sicore2App.detalleOrden.indDel" for="field_indDel">Ind Del</label>
          <input type="checkbox" class="form-check" name="indDel" id="field_indDel" data-cy="indDel" formControlName="indDel" />
          <div *ngIf="editForm.get('indDel')!.invalid && (editForm.get('indDel')!.dirty || editForm.get('indDel')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('indDel')?.errors?.required" jhiTranslate="entity.validation.required">
              Este campo es obligatorio.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sicore2App.detalleOrden.fecCrea" for="field_fecCrea">Fec Crea</label>
          <div class="d-flex">
            <input
              id="field_fecCrea"
              data-cy="fecCrea"
              type="datetime-local"
              class="form-control"
              name="fecCrea"
              formControlName="fecCrea"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('fecCrea')!.invalid && (editForm.get('fecCrea')!.dirty || editForm.get('fecCrea')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('fecCrea')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('fecCrea')?.errors?.datetimelocal"
              jhiTranslate="entity.validation.datetimelocal"
            >
              Este campo debe ser una fecha y hora.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sicore2App.detalleOrden.usuCrea" for="field_usuCrea">Usu Crea</label>
          <input type="text" class="form-control" name="usuCrea" id="field_usuCrea" data-cy="usuCrea" formControlName="usuCrea" />
          <div *ngIf="editForm.get('usuCrea')!.invalid && (editForm.get('usuCrea')!.dirty || editForm.get('usuCrea')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('usuCrea')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sicore2App.detalleOrden.ipCrea" for="field_ipCrea">Ip Crea</label>
          <input type="text" class="form-control" name="ipCrea" id="field_ipCrea" data-cy="ipCrea" formControlName="ipCrea" />
          <div *ngIf="editForm.get('ipCrea')!.invalid && (editForm.get('ipCrea')!.dirty || editForm.get('ipCrea')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('ipCrea')?.errors?.required" jhiTranslate="entity.validation.required">
              Este campo es obligatorio.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sicore2App.detalleOrden.fecModif" for="field_fecModif">Fec Modif</label>
          <div class="d-flex">
            <input
              id="field_fecModif"
              data-cy="fecModif"
              type="datetime-local"
              class="form-control"
              name="fecModif"
              formControlName="fecModif"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sicore2App.detalleOrden.usuModif" for="field_usuModif">Usu Modif</label>
          <input type="text" class="form-control" name="usuModif" id="field_usuModif" data-cy="usuModif" formControlName="usuModif" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sicore2App.detalleOrden.ipModif" for="field_ipModif">Ip Modif</label>
          <input type="text" class="form-control" name="ipModif" id="field_ipModif" data-cy="ipModif" formControlName="ipModif" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sicore2App.detalleOrden.orden" for="field_orden">Orden</label>
          <select class="form-control" id="field_orden" data-cy="orden" name="orden" formControlName="orden" [compareWith]="compareOrden">
            <option [ngValue]="null"></option>
            <option [ngValue]="ordenOption" *ngFor="let ordenOption of ordensSharedCollection">{{ ordenOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sicore2App.detalleOrden.promocion" for="field_promocion">Promocion</label>
          <select
            class="form-control"
            id="field_promocion"
            data-cy="promocion"
            name="promocion"
            formControlName="promocion"
            [compareWith]="comparePromocion"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="promocionOption" *ngFor="let promocionOption of promocionsSharedCollection">{{ promocionOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sicore2App.detalleOrden.autorizacion" for="field_autorizacion">Autorizacion</label>
          <select
            class="form-control"
            id="field_autorizacion"
            data-cy="autorizacion"
            name="autorizacion"
            formControlName="autorizacion"
            [compareWith]="compareAutorizacion"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="autorizacionOption" *ngFor="let autorizacionOption of autorizacionsSharedCollection">
              {{ autorizacionOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sicore2App.detalleOrden.producto" for="field_producto">Producto</label>
          <select
            class="form-control"
            id="field_producto"
            data-cy="producto"
            name="producto"
            formControlName="producto"
            [compareWith]="compareProducto"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="productoOption" *ngFor="let productoOption of productosSharedCollection">{{ productoOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
