<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-mesas-heading" data-cy="MesasCreateUpdateHeading" jhiTranslate="sicore2App.mesas.home.createOrEditLabel">
        Crear o editar Mesas
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sicore2App.mesas.seqMesa" for="field_seqMesa">Seq Mesa</label>
          <input type="number" class="form-control" name="seqMesa" id="field_seqMesa" data-cy="seqMesa" formControlName="seqMesa" />
          <div *ngIf="editForm.get('seqMesa')!.invalid && (editForm.get('seqMesa')!.dirty || editForm.get('seqMesa')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('seqMesa')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('seqMesa')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              Este campo debe ser un número.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sicore2App.mesas.nroMesa" for="field_nroMesa">Nro Mesa</label>
          <input type="number" class="form-control" name="nroMesa" id="field_nroMesa" data-cy="nroMesa" formControlName="nroMesa" />
          <div *ngIf="editForm.get('nroMesa')!.invalid && (editForm.get('nroMesa')!.dirty || editForm.get('nroMesa')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nroMesa')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('nroMesa')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              Este campo debe ser un número.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sicore2App.mesas.codGrupo" for="field_codGrupo">Cod Grupo</label>
          <input type="text" class="form-control" name="codGrupo" id="field_codGrupo" data-cy="codGrupo" formControlName="codGrupo" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sicore2App.mesas.categoria" for="field_categoria">Categoria</label>
          <input type="text" class="form-control" name="categoria" id="field_categoria" data-cy="categoria" formControlName="categoria" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sicore2App.mesas.capacidad" for="field_capacidad">Capacidad</label>
          <input type="number" class="form-control" name="capacidad" id="field_capacidad" data-cy="capacidad" formControlName="capacidad" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sicore2App.mesas.indMesaJunta" for="field_indMesaJunta">Ind Mesa Junta</label>
          <input
            type="checkbox"
            class="form-check"
            name="indMesaJunta"
            id="field_indMesaJunta"
            data-cy="indMesaJunta"
            formControlName="indMesaJunta"
          />
          <div
            *ngIf="editForm.get('indMesaJunta')!.invalid && (editForm.get('indMesaJunta')!.dirty || editForm.get('indMesaJunta')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('indMesaJunta')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sicore2App.mesas.estado" for="field_estado">Estado</label>
          <input type="text" class="form-control" name="estado" id="field_estado" data-cy="estado" formControlName="estado" />
          <div *ngIf="editForm.get('estado')!.invalid && (editForm.get('estado')!.dirty || editForm.get('estado')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('estado')?.errors?.required" jhiTranslate="entity.validation.required">
              Este campo es obligatorio.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sicore2App.mesas.version" for="field_version">Version</label>
          <input type="number" class="form-control" name="version" id="field_version" data-cy="version" formControlName="version" />
          <div *ngIf="editForm.get('version')!.invalid && (editForm.get('version')!.dirty || editForm.get('version')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('version')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('version')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              Este campo debe ser un número.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sicore2App.mesas.indDel" for="field_indDel">Ind Del</label>
          <input type="checkbox" class="form-check" name="indDel" id="field_indDel" data-cy="indDel" formControlName="indDel" />
          <div *ngIf="editForm.get('indDel')!.invalid && (editForm.get('indDel')!.dirty || editForm.get('indDel')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('indDel')?.errors?.required" jhiTranslate="entity.validation.required">
              Este campo es obligatorio.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sicore2App.mesas.fecCrea" for="field_fecCrea">Fec Crea</label>
          <div class="d-flex">
            <input
              id="field_fecCrea"
              data-cy="fecCrea"
              type="datetime-local"
              class="form-control"
              name="fecCrea"
              formControlName="fecCrea"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('fecCrea')!.invalid && (editForm.get('fecCrea')!.dirty || editForm.get('fecCrea')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('fecCrea')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('fecCrea')?.errors?.datetimelocal"
              jhiTranslate="entity.validation.datetimelocal"
            >
              Este campo debe ser una fecha y hora.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sicore2App.mesas.usuCrea" for="field_usuCrea">Usu Crea</label>
          <input type="text" class="form-control" name="usuCrea" id="field_usuCrea" data-cy="usuCrea" formControlName="usuCrea" />
          <div *ngIf="editForm.get('usuCrea')!.invalid && (editForm.get('usuCrea')!.dirty || editForm.get('usuCrea')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('usuCrea')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sicore2App.mesas.ipCrea" for="field_ipCrea">Ip Crea</label>
          <input type="text" class="form-control" name="ipCrea" id="field_ipCrea" data-cy="ipCrea" formControlName="ipCrea" />
          <div *ngIf="editForm.get('ipCrea')!.invalid && (editForm.get('ipCrea')!.dirty || editForm.get('ipCrea')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('ipCrea')?.errors?.required" jhiTranslate="entity.validation.required">
              Este campo es obligatorio.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sicore2App.mesas.fecModif" for="field_fecModif">Fec Modif</label>
          <div class="d-flex">
            <input
              id="field_fecModif"
              data-cy="fecModif"
              type="datetime-local"
              class="form-control"
              name="fecModif"
              formControlName="fecModif"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sicore2App.mesas.usuModif" for="field_usuModif">Usu Modif</label>
          <input type="text" class="form-control" name="usuModif" id="field_usuModif" data-cy="usuModif" formControlName="usuModif" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sicore2App.mesas.ipModif" for="field_ipModif">Ip Modif</label>
          <input type="text" class="form-control" name="ipModif" id="field_ipModif" data-cy="ipModif" formControlName="ipModif" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sicore2App.mesas.orden" for="field_orden">Orden</label>
          <select class="form-control" id="field_orden" data-cy="orden" name="orden" formControlName="orden" [compareWith]="compareOrden">
            <option [ngValue]="null"></option>
            <option [ngValue]="ordenOption" *ngFor="let ordenOption of ordensSharedCollection">{{ ordenOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sicore2App.mesas.sede" for="field_sede">Sede</label>
          <select class="form-control" id="field_sede" data-cy="sede" name="sede" formControlName="sede" [compareWith]="compareSede">
            <option [ngValue]="null"></option>
            <option [ngValue]="sedeOption" *ngFor="let sedeOption of sedesSharedCollection">{{ sedeOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sicore2App.mesas.empleado" for="field_empleado">Empleado</label>
          <select
            class="form-control"
            id="field_empleado"
            data-cy="empleado"
            name="empleado"
            formControlName="empleado"
            [compareWith]="compareEmpleados"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="empleadosOption" *ngFor="let empleadosOption of empleadosSharedCollection">{{ empleadosOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
