<div>
  <h2 id="page-heading" data-cy="ClientesHeading">
    <span jhiTranslate="sicore2App.clientes.home.title">Clientes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="sicore2App.clientes.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-clientes"
        [routerLink]="['/clientes/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="sicore2App.clientes.home.createLabel"> Crear nuevo Clientes </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="clientes?.length === 0">
    <span jhiTranslate="sicore2App.clientes.home.notFound">Ningún Clientes encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="clientes && clientes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tipDoc">
            <div class="d-flex">
              <span jhiTranslate="sicore2App.clientes.tipDoc">Tip Doc</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nroDoc">
            <div class="d-flex">
              <span jhiTranslate="sicore2App.clientes.nroDoc">Nro Doc</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nombres">
            <div class="d-flex">
              <span jhiTranslate="sicore2App.clientes.nombres">Nombres</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="apellidos">
            <div class="d-flex">
              <span jhiTranslate="sicore2App.clientes.apellidos">Apellidos</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="categoria">
            <div class="d-flex">
              <span jhiTranslate="sicore2App.clientes.categoria">Categoria</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tel1">
            <div class="d-flex">
              <span jhiTranslate="sicore2App.clientes.tel1">Tel 1</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tel2">
            <div class="d-flex">
              <span jhiTranslate="sicore2App.clientes.tel2">Tel 2</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="correo">
            <div class="d-flex">
              <span jhiTranslate="sicore2App.clientes.correo">Correo</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="direccion">
            <div class="d-flex">
              <span jhiTranslate="sicore2App.clientes.direccion">Direccion</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="refDirecc">
            <div class="d-flex">
              <span jhiTranslate="sicore2App.clientes.refDirecc">Ref Direcc</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="distrito">
            <div class="d-flex">
              <span jhiTranslate="sicore2App.clientes.distrito">Distrito</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="fecNac">
            <div class="d-flex">
              <span jhiTranslate="sicore2App.clientes.fecNac">Fec Nac</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="userId">
            <div class="d-flex">
              <span jhiTranslate="sicore2App.clientes.userId">User Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="estado">
            <div class="d-flex">
              <span jhiTranslate="sicore2App.clientes.estado">Estado</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="version">
            <div class="d-flex">
              <span jhiTranslate="sicore2App.clientes.version">Version</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="indDel">
            <div class="d-flex">
              <span jhiTranslate="sicore2App.clientes.indDel">Ind Del</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="fecCrea">
            <div class="d-flex">
              <span jhiTranslate="sicore2App.clientes.fecCrea">Fec Crea</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="usuCrea">
            <div class="d-flex">
              <span jhiTranslate="sicore2App.clientes.usuCrea">Usu Crea</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="ipCrea">
            <div class="d-flex">
              <span jhiTranslate="sicore2App.clientes.ipCrea">Ip Crea</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="fecModif">
            <div class="d-flex">
              <span jhiTranslate="sicore2App.clientes.fecModif">Fec Modif</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="usuModif">
            <div class="d-flex">
              <span jhiTranslate="sicore2App.clientes.usuModif">Usu Modif</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="ipModif">
            <div class="d-flex">
              <span jhiTranslate="sicore2App.clientes.ipModif">Ip Modif</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let clientes of clientes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/clientes', clientes.id, 'view']">{{ clientes.id }}</a>
          </td>
          <td>{{ clientes.tipDoc }}</td>
          <td>{{ clientes.nroDoc }}</td>
          <td>{{ clientes.nombres }}</td>
          <td>{{ clientes.apellidos }}</td>
          <td>{{ clientes.categoria }}</td>
          <td>{{ clientes.tel1 }}</td>
          <td>{{ clientes.tel2 }}</td>
          <td>{{ clientes.correo }}</td>
          <td>{{ clientes.direccion }}</td>
          <td>{{ clientes.refDirecc }}</td>
          <td>{{ clientes.distrito }}</td>
          <td>{{ clientes.fecNac | formatMediumDatetime }}</td>
          <td>{{ clientes.userId }}</td>
          <td>{{ clientes.estado }}</td>
          <td>{{ clientes.version }}</td>
          <td>{{ clientes.indDel }}</td>
          <td>{{ clientes.fecCrea | formatMediumDatetime }}</td>
          <td>{{ clientes.usuCrea }}</td>
          <td>{{ clientes.ipCrea }}</td>
          <td>{{ clientes.fecModif | formatMediumDatetime }}</td>
          <td>{{ clientes.usuModif }}</td>
          <td>{{ clientes.ipModif }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/clientes', clientes.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/clientes', clientes.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(clientes)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
