<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-asistencia-heading" data-cy="AsistenciaCreateUpdateHeading" jhiTranslate="sicore2App.asistencia.home.createOrEditLabel">
        Crear o editar Asistencia
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sicore2App.asistencia.tipAsistente" for="field_tipAsistente">Tip Asistente</label>
          <input
            type="text"
            class="form-control"
            name="tipAsistente"
            id="field_tipAsistente"
            data-cy="tipAsistente"
            formControlName="tipAsistente"
          />
          <div
            *ngIf="editForm.get('tipAsistente')!.invalid && (editForm.get('tipAsistente')!.dirty || editForm.get('tipAsistente')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('tipAsistente')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sicore2App.asistencia.resultado" for="field_resultado">Resultado</label>
          <input type="text" class="form-control" name="resultado" id="field_resultado" data-cy="resultado" formControlName="resultado" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sicore2App.asistencia.anoAsistencia" for="field_anoAsistencia">Ano Asistencia</label>
          <input
            type="number"
            class="form-control"
            name="anoAsistencia"
            id="field_anoAsistencia"
            data-cy="anoAsistencia"
            formControlName="anoAsistencia"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sicore2App.asistencia.mesAsistencia" for="field_mesAsistencia">Mes Asistencia</label>
          <input
            type="number"
            class="form-control"
            name="mesAsistencia"
            id="field_mesAsistencia"
            data-cy="mesAsistencia"
            formControlName="mesAsistencia"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sicore2App.asistencia.diaAsistencia" for="field_diaAsistencia">Dia Asistencia</label>
          <input
            type="number"
            class="form-control"
            name="diaAsistencia"
            id="field_diaAsistencia"
            data-cy="diaAsistencia"
            formControlName="diaAsistencia"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sicore2App.asistencia.observacion" for="field_observacion">Observacion</label>
          <input
            type="text"
            class="form-control"
            name="observacion"
            id="field_observacion"
            data-cy="observacion"
            formControlName="observacion"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sicore2App.asistencia.comentarios" for="field_comentarios">Comentarios</label>
          <textarea
            class="form-control"
            name="comentarios"
            id="field_comentarios"
            data-cy="comentarios"
            formControlName="comentarios"
          ></textarea>
          <div *ngIf="editForm.get('comentarios')!.invalid && (editForm.get('comentarios')!.dirty || editForm.get('comentarios')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('comentarios')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sicore2App.asistencia.estado" for="field_estado">Estado</label>
          <input type="text" class="form-control" name="estado" id="field_estado" data-cy="estado" formControlName="estado" />
          <div *ngIf="editForm.get('estado')!.invalid && (editForm.get('estado')!.dirty || editForm.get('estado')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('estado')?.errors?.required" jhiTranslate="entity.validation.required">
              Este campo es obligatorio.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sicore2App.asistencia.version" for="field_version">Version</label>
          <input type="number" class="form-control" name="version" id="field_version" data-cy="version" formControlName="version" />
          <div *ngIf="editForm.get('version')!.invalid && (editForm.get('version')!.dirty || editForm.get('version')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('version')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('version')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              Este campo debe ser un número.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sicore2App.asistencia.indDel" for="field_indDel">Ind Del</label>
          <input type="checkbox" class="form-check" name="indDel" id="field_indDel" data-cy="indDel" formControlName="indDel" />
          <div *ngIf="editForm.get('indDel')!.invalid && (editForm.get('indDel')!.dirty || editForm.get('indDel')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('indDel')?.errors?.required" jhiTranslate="entity.validation.required">
              Este campo es obligatorio.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sicore2App.asistencia.fecCrea" for="field_fecCrea">Fec Crea</label>
          <div class="d-flex">
            <input
              id="field_fecCrea"
              data-cy="fecCrea"
              type="datetime-local"
              class="form-control"
              name="fecCrea"
              formControlName="fecCrea"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('fecCrea')!.invalid && (editForm.get('fecCrea')!.dirty || editForm.get('fecCrea')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('fecCrea')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('fecCrea')?.errors?.datetimelocal"
              jhiTranslate="entity.validation.datetimelocal"
            >
              Este campo debe ser una fecha y hora.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sicore2App.asistencia.usuCrea" for="field_usuCrea">Usu Crea</label>
          <input type="text" class="form-control" name="usuCrea" id="field_usuCrea" data-cy="usuCrea" formControlName="usuCrea" />
          <div *ngIf="editForm.get('usuCrea')!.invalid && (editForm.get('usuCrea')!.dirty || editForm.get('usuCrea')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('usuCrea')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sicore2App.asistencia.ipCrea" for="field_ipCrea">Ip Crea</label>
          <input type="text" class="form-control" name="ipCrea" id="field_ipCrea" data-cy="ipCrea" formControlName="ipCrea" />
          <div *ngIf="editForm.get('ipCrea')!.invalid && (editForm.get('ipCrea')!.dirty || editForm.get('ipCrea')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('ipCrea')?.errors?.required" jhiTranslate="entity.validation.required">
              Este campo es obligatorio.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sicore2App.asistencia.fecModif" for="field_fecModif">Fec Modif</label>
          <div class="d-flex">
            <input
              id="field_fecModif"
              data-cy="fecModif"
              type="datetime-local"
              class="form-control"
              name="fecModif"
              formControlName="fecModif"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sicore2App.asistencia.usuModif" for="field_usuModif">Usu Modif</label>
          <input type="text" class="form-control" name="usuModif" id="field_usuModif" data-cy="usuModif" formControlName="usuModif" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sicore2App.asistencia.ipModif" for="field_ipModif">Ip Modif</label>
          <input type="text" class="form-control" name="ipModif" id="field_ipModif" data-cy="ipModif" formControlName="ipModif" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sicore2App.asistencia.userId" for="field_userId">User Id</label>
          <select
            class="form-control"
            id="field_userId"
            data-cy="userId"
            name="userId"
            formControlName="userId"
            [compareWith]="compareEmpleados"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="empleadosOption" *ngFor="let empleadosOption of empleadosSharedCollection">{{ empleadosOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
