<div>
  <h2 id="page-heading" data-cy="CajaHeading">
    <span jhiTranslate="sicore2App.caja.home.title">Cajas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="sicore2App.caja.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-caja"
        [routerLink]="['/caja/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="sicore2App.caja.home.createLabel"> Crear nuevo Caja </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="cajas?.length === 0">
    <span jhiTranslate="sicore2App.caja.home.notFound">Ningún Cajas encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="cajas && cajas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tipCaja">
            <div class="d-flex">
              <span jhiTranslate="sicore2App.caja.tipCaja">Tip Caja</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="descripcion">
            <div class="d-flex">
              <span jhiTranslate="sicore2App.caja.descripcion">Descripcion</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="estado">
            <div class="d-flex">
              <span jhiTranslate="sicore2App.caja.estado">Estado</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="version">
            <div class="d-flex">
              <span jhiTranslate="sicore2App.caja.version">Version</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="indDel">
            <div class="d-flex">
              <span jhiTranslate="sicore2App.caja.indDel">Ind Del</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="fecCrea">
            <div class="d-flex">
              <span jhiTranslate="sicore2App.caja.fecCrea">Fec Crea</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="usuCrea">
            <div class="d-flex">
              <span jhiTranslate="sicore2App.caja.usuCrea">Usu Crea</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="ipCrea">
            <div class="d-flex">
              <span jhiTranslate="sicore2App.caja.ipCrea">Ip Crea</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="fecModif">
            <div class="d-flex">
              <span jhiTranslate="sicore2App.caja.fecModif">Fec Modif</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="usuModif">
            <div class="d-flex">
              <span jhiTranslate="sicore2App.caja.usuModif">Usu Modif</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="ipModif">
            <div class="d-flex">
              <span jhiTranslate="sicore2App.caja.ipModif">Ip Modif</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let caja of cajas; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/caja', caja.id, 'view']">{{ caja.id }}</a>
          </td>
          <td>{{ caja.tipCaja }}</td>
          <td>{{ caja.descripcion }}</td>
          <td>{{ caja.estado }}</td>
          <td>{{ caja.version }}</td>
          <td>{{ caja.indDel }}</td>
          <td>{{ caja.fecCrea | formatMediumDatetime }}</td>
          <td>{{ caja.usuCrea }}</td>
          <td>{{ caja.ipCrea }}</td>
          <td>{{ caja.fecModif | formatMediumDatetime }}</td>
          <td>{{ caja.usuModif }}</td>
          <td>{{ caja.ipModif }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/caja', caja.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
              </button>

              <button type="submit" [routerLink]="['/caja', caja.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(caja)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
