<form *ngIf="precuenta" name="deleteForm" (ngSubmit)="confirmDelete(precuenta.id!)">
  <div class="modal-header">
    <h4 class="modal-title" data-cy="precuentaDeleteDialogHeading" jhiTranslate="entity.delete.title">Confirmar operación de borrado</h4>

    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
  </div>

  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>
    <p id="jhi-delete-precuenta-heading" jhiTranslate="sicore2App.precuenta.delete.question" [translateValues]="{ id: precuenta.id }">
      ¿Seguro que quiere eliminar Precuenta {{ precuenta.id }}?
    </p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
    </button>

    <button id="jhi-confirm-delete-precuenta" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
      <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Eliminar</span>
    </button>
  </div>
</form>
