<div>
  <h2 id="page-heading" data-cy="ProveedoresHeading">
    <span jhiTranslate="sicore2App.proveedores.home.title">Proveedores</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="sicore2App.proveedores.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-proveedores"
        [routerLink]="['/proveedores/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="sicore2App.proveedores.home.createLabel"> Crear nuevo Proveedores </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="proveedores?.length === 0">
    <span jhiTranslate="sicore2App.proveedores.home.notFound">Ningún Proveedores encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="proveedores && proveedores.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tipDoc">
            <div class="d-flex">
              <span jhiTranslate="sicore2App.proveedores.tipDoc">Tip Doc</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nroDoc">
            <div class="d-flex">
              <span jhiTranslate="sicore2App.proveedores.nroDoc">Nro Doc</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nombres">
            <div class="d-flex">
              <span jhiTranslate="sicore2App.proveedores.nombres">Nombres</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="apellidos">
            <div class="d-flex">
              <span jhiTranslate="sicore2App.proveedores.apellidos">Apellidos</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="categoria">
            <div class="d-flex">
              <span jhiTranslate="sicore2App.proveedores.categoria">Categoria</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tel1">
            <div class="d-flex">
              <span jhiTranslate="sicore2App.proveedores.tel1">Tel 1</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tel2">
            <div class="d-flex">
              <span jhiTranslate="sicore2App.proveedores.tel2">Tel 2</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="correo">
            <div class="d-flex">
              <span jhiTranslate="sicore2App.proveedores.correo">Correo</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="direccion">
            <div class="d-flex">
              <span jhiTranslate="sicore2App.proveedores.direccion">Direccion</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="refDirecc">
            <div class="d-flex">
              <span jhiTranslate="sicore2App.proveedores.refDirecc">Ref Direcc</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="distrito">
            <div class="d-flex">
              <span jhiTranslate="sicore2App.proveedores.distrito">Distrito</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="fecNac">
            <div class="d-flex">
              <span jhiTranslate="sicore2App.proveedores.fecNac">Fec Nac</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="userId">
            <div class="d-flex">
              <span jhiTranslate="sicore2App.proveedores.userId">User Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="estado">
            <div class="d-flex">
              <span jhiTranslate="sicore2App.proveedores.estado">Estado</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="version">
            <div class="d-flex">
              <span jhiTranslate="sicore2App.proveedores.version">Version</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="indDel">
            <div class="d-flex">
              <span jhiTranslate="sicore2App.proveedores.indDel">Ind Del</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="fecCrea">
            <div class="d-flex">
              <span jhiTranslate="sicore2App.proveedores.fecCrea">Fec Crea</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="usuCrea">
            <div class="d-flex">
              <span jhiTranslate="sicore2App.proveedores.usuCrea">Usu Crea</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="ipCrea">
            <div class="d-flex">
              <span jhiTranslate="sicore2App.proveedores.ipCrea">Ip Crea</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="fecModif">
            <div class="d-flex">
              <span jhiTranslate="sicore2App.proveedores.fecModif">Fec Modif</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="usuModif">
            <div class="d-flex">
              <span jhiTranslate="sicore2App.proveedores.usuModif">Usu Modif</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="ipModif">
            <div class="d-flex">
              <span jhiTranslate="sicore2App.proveedores.ipModif">Ip Modif</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let proveedores of proveedores; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/proveedores', proveedores.id, 'view']">{{ proveedores.id }}</a>
          </td>
          <td>{{ proveedores.tipDoc }}</td>
          <td>{{ proveedores.nroDoc }}</td>
          <td>{{ proveedores.nombres }}</td>
          <td>{{ proveedores.apellidos }}</td>
          <td>{{ proveedores.categoria }}</td>
          <td>{{ proveedores.tel1 }}</td>
          <td>{{ proveedores.tel2 }}</td>
          <td>{{ proveedores.correo }}</td>
          <td>{{ proveedores.direccion }}</td>
          <td>{{ proveedores.refDirecc }}</td>
          <td>{{ proveedores.distrito }}</td>
          <td>{{ proveedores.fecNac | formatMediumDatetime }}</td>
          <td>{{ proveedores.userId }}</td>
          <td>{{ proveedores.estado }}</td>
          <td>{{ proveedores.version }}</td>
          <td>{{ proveedores.indDel }}</td>
          <td>{{ proveedores.fecCrea | formatMediumDatetime }}</td>
          <td>{{ proveedores.usuCrea }}</td>
          <td>{{ proveedores.ipCrea }}</td>
          <td>{{ proveedores.fecModif | formatMediumDatetime }}</td>
          <td>{{ proveedores.usuModif }}</td>
          <td>{{ proveedores.ipModif }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/proveedores', proveedores.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/proveedores', proveedores.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(proveedores)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
